.glassmorphism .image-1 {
  background: url('../assets/images/image_1.png') 50% / cover no-repeat;
  margin: 135px 275px 0 0;
  width: 773px;
  height: 554px;
}
.glassmorphism .ellipse-11 {
  opacity: 0.2;
  border-radius: 142px;
  margin-bottom: 405px;
  width: 284px;
  height: 284px;
}
.glassmorphism .container-1 {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 1332px;
  height: fit-content;
  box-sizing: border-box;
}
.glassmorphism .ellipse-2 {
  opacity: 0.2;
  border-radius: 104.5px;
  position: absolute;
  right: 378px;
  bottom: -121px;
  width: 209px;
  height: 209px;
}
.glassmorphism .ellipse-3 {
  opacity: 0.2;
  border-radius: 61px;
  background: #FFFFFF;
  position: absolute;
  left: 422px;
  top: -61px;
  width: 122px;
  height: 122px;
}
.glassmorphism .card-1 {
  opacity: 0.5;
  backdrop-filter: blur(30px);
  border-radius: 27px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: linear-gradient(289.46deg, rgba(201, 201, 201, 0.8) 98.4%, rgba(196, 196, 196, 0.1) 200%);
  position: absolute;
  right: 50px;
  bottom: 48px;
  width: 479px;
  height: 497px;
}
.glassmorphism .card-2 {
  opacity: 0.5;
  backdrop-filter: blur(30px);
  border-radius: 7px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: linear-gradient(289.46deg, rgba(201, 201, 201, 0.8) 98.4%, rgba(196, 196, 196, 0.1) 200%);
  position: absolute;
  top: 259px;
  right: 80px;
  width: 419px;
  height: 50px;
}
.glassmorphism .card-3 {
  opacity: 0.5;
  backdrop-filter: blur(30px);
  border-radius: 7px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: linear-gradient(289.46deg, rgba(201, 201, 201, 0.8) 98.4%, rgba(196, 196, 196, 0.1) 200%);
  position: absolute;
  right: 80px;
  bottom: 216px;
  width: 419px;
  height: 50px;
}
.glassmorphism .login {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 15px;
  color: #000000;
}
.glassmorphism .container {
  border-radius: 7px;
  background: #A5D9D0;
  position: absolute;
  right: 80px;
  bottom: 111px;
  display: flex;
  padding: 16px 1.1px 16px 0;
  width: 419px;
  box-sizing: border-box;
}
.glassmorphism .login-1 {
  position: absolute;
  top: 103px;
  right: 413.2px;
  overflow-wrap: break-word;
  font-family: 'Iceland';
  font-weight: 400;
  font-size: 40px;
  color: #FFFFFF;
}
.glassmorphism .welcome-to-skill-up-with-ai {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 20px;
  color: #FFFFFF;
}
.glassmorphism .frame-1 {
  position: absolute;
  top: 182px;
  right: 235.8px;
  display: flex;
  box-sizing: border-box;
}
.glassmorphism .username {
  position: absolute;
  top: 236px;
  right: 420.9px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 15px;
  color: #FFFFFF;
}
.glassmorphism .password {
  position: absolute;
  right: 426.7px;
  bottom: 271px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 15px;
  color: #FFFFFF;
}
.glassmorphism .forgot-password {
  position: absolute;
  right: 80.1px;
  bottom: 191px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
}
.glassmorphism .new-to-logo-register-here {
  position: absolute;
  right: 184.9px;
  bottom: 78px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 15px;
  color: #FFFFFF;
}
.new-to-logo-register-here-sub2 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 15px;
  line-height: 1.333;
}
.glassmorphism .enter-your-username {
  opacity: 0.5;
  position: absolute;
  top: 275px;
  right: 327px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 15px;
  color: #FFFFFF;
}
.glassmorphism .enter-your-password {
  opacity: 0.5;
  position: absolute;
  right: 331.8px;
  bottom: 232px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 15px;
  color: #FFFFFF;
}
.glassmorphism .line-1 {
  background: #FFFFFF;
  position: absolute;
  top: 152px;
  right: 389px;
  width: 110px;
  height: 0px;
}
.glassmorphism .ellipse-1 {
  opacity: 0.2;
  transform: rotate(-8.062deg);
  position: absolute;
  left: -24.6px;
  top: -74.1px;
  width: 277.8px;
  height: 170.3px;
}
.glassmorphism .skill-up-with-ai {
  position: absolute;
  left: 39px;
  top: 48px;
  overflow-wrap: break-word;
  font-family: 'Montaga';
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}
.glassmorphism {
  background: #262222;
  display: flex;
  padding-bottom: 44px;
  width: 1200px;
  box-sizing: border-box;
}
